<h1>Password generator</h1>

<div>
  <label>Enter lenght</label>
  <input type="text" (input)="onChangeLenght($event.target.value)" />
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()" />
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox" (change)="onChangeUseNumbers()" />
</div>

<div>
  <label>Use Symbols</label>
  <input type="checkbox" (change)="onChangeUseSymbols()" />
</div>

<div>
  <button (click)="onButtonClick()">Generate !</button>
</div>

<div>
  <label>Your Passowrd</label>
  <input [value]="password" />
</div>
