<div class="container">
  <div class="is-centred">
    <h1>Password generator</h1>

    <div class="field">
      <div class="control">
        <input
          placeholder="lenght"
          type="text"
          (input)="onChangeLenght($event.target.value)"
          class="input"
        />
      </div>
    </div>

    <div class="field">
      <label>Use Letters</label>
      <input type="checkbox" (change)="onChangeUseLetters()" />
    </div>

    <div class="field">
      <label>Use Numbers</label>
      <input type="checkbox" (change)="onChangeUseNumbers()" />
    </div>

    <div class="field">
      <label>Use Symbols</label>
      <input type="checkbox" (change)="onChangeUseSymbols()" />
    </div>

    <div class="field">
      <button
        [disabled]="!(lenght && (useLetters || useNumbers || useSymbols))"
        (click)="onButtonClick()"
      >
        Generate !
      </button>
    </div>

    <div>
      <label>Your Passowrd</label>
      <input [value]="password" />
    </div>
  </div>
</div>
